#### Columns meaning

- Co_Nm / Company Name, dType Object
- Co_Pg_Lstd / Company Page Listed, dType Bool
- Emp_Cnt / Company Employee Count, dType int64
- Flw_Cnt / Company Follower Count, dType int64
- Job_Ttl / Job Title, dType Object
- Job_Desc / Job Description, dtype Object
- Is_Supvsr / Is Post a Supervisor Position (Calculated), dType Bool
- max_sal / Maximum Salary, dtype Float64
- med_sal / Median Salary, dtype Float64
- min_sal / Minimum Salary, dtype Float64
- py_prd / Pay Period, dtype Category {Not Listed, YEARLY, HOURLY, MONTHLY, Unpaid, WEEKLY, ONCE}
- py_lstd / Pay Listed (Calculated), dtype Bool 
- wrk_typ / Work Type, dtype Category {Full-time, Contract, Part-time, Temporary, Internship, Other, Volunteer}
- loc / Job Location, dtype Object
- st_code / Job State Code (Calculated), dtype Object
- is_remote / Is Job Remote (Calculated), dtype Bool
- views / Number of Posting Views, dtype int64
- app_typ / Application Type, dtype Category {Offsite Apply, SimpleOnSiteApply, ComplexOnSiteApply}
- app_is_off / Is Application Offsite (Calculated), dtype Bool
- xp_lvl / Experience Level, dtype Category {Mid-Senior level, Not Listed, Entry level, Associate, Director, Internship, Executive}
- domain / Posting Domain, dtype Object
- has_post_domain / Has Posting Domain (Calculated), dtype Bool
- is_sponsored / Is Sponsored, dtype Bool
- base_comp / Has Base Compensation, dtype Bool.

In [21]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('LinkedinJobsDF.csv')
df_tmp = df
df.head()

,Co_Nm,Co_Pg_Lstd,Emp_Cnt,Flw_Cnt,Job_Ttl,Job_Desc,Is_Supvsr,max_sal,med_sal,min_sal,...,st_code,is_remote,views,app_typ,app_is_off,xp_lvl,domain,has_post_domain,is_sponsored,base_comp
0,HearingLife,True,1171,11417,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,False,5250.00,5250.00,5250.00,...,SC,0,9,OffsiteApply,True,Entry level,careers-demant.icims.com,True,0,1
1,"Metalcraft of Mayville, Inc.",True,300,2923,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,False,0.00,0.00,0.00,...,WI,0,0,OffsiteApply,True,Not Listed,www.click2apply.net,True,0,0
2,"U.S. Tsubaki Power Transmission, LLC",True,314,8487,"Manager, Engineering",The TSUBAKI name is synonymous with excellence...,True,0.00,0.00,0.00,...,AL,0,0,OffsiteApply,True,Not Listed,www.click2apply.net,True,0,0
3,Episcopal Communities & Services,True,36,305,Cook,descriptionTitle\n\n Looking for a great oppor...,False,22.27,22.27,22.27,...,CA,0,1,OffsiteApply,True,Entry level,jobs.apploi.com,True,0,1
4,"iHerb, LLC",True,1227,51933,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",False,275834.00,240895.00,205956.00,...,XF,1,0,OffsiteApply,True,Mid-Senior level,careers.iherb.com,True,0,1

In [22]:
df.dtypes

Co_Nm               object
Co_Pg_Lstd            bool
Emp_Cnt              int64
Flw_Cnt              int64
Job_Ttl             object
Job_Desc            object
Is_Supvsr             bool
max_sal            float64
med_sal            float64
min_sal            float64
py_prd              object
py_lstd               bool
wrk_typ             object
loc                 object
st_code             object
is_remote            int64
views                int64
app_typ             object
app_is_off            bool
xp_lvl              object
domain              object
has_post_domain       bool
is_sponsored         int64
base_comp            int64
dtype: object

##### todolist
1. find data with salary
2. calculate salary to month
3. recalculate salary with live currency found by web scraping

In [23]:
list = pd.unique(df_tmp['loc'])

In [24]:
len(list)

4621

In [25]:
df_tmp1 = df_tmp.loc[df_tmp['med_sal']!=0]

df1=df_tmp1.groupby('loc')['Co_Nm'].count().reset_index().sort_values(by='Co_Nm',ascending=False)

df1.head(50)

                                  loc  Co_Nm
2332                    United States    904
1589                     New York, NY    576
1306                  Los Angeles, CA    265
2071                      Seattle, WA    194
1588  New York City Metropolitan Area    192
2015                San Francisco, CA    188
557                        Denver, CO    174
2010                    San Diego, CA    153
394                       Chicago, IL    152
516                        Dallas, TX    131
102                       Atlanta, GA    129
1026                      Houston, TX    123
118                        Austin, TX    118
224                        Boston, MA    107
1591          New York, United States    103
2017                     San Jose, CA    102
1787                      Phoenix, AZ    101
2013           San Francisco Bay Area     98
299         California, United States     94
1985                   Sacramento, CA     86
2398                   Washington, DC     85
1069                       Irvine, CA     84
1433                        Miami, FL     80
374                     Charlotte, NC     79
1707                      Orlando, FL     65
1305    Los Angeles Metropolitan Area     63
1218                    Las Vegas, NV     57
1784                 Philadelphia, PA     56
1463                  Minneapolis, MN     55
1894                      Redmond, WA     50
1551                    Nashville, TN     50
1840                     Portland, OR     49
2183                     St Louis, MO     48
2043                  Santa Clara, CA     48
260                      Brooklyn, NY     45
1533                Mountain View, CA     44
454                      Columbus, OH     42
1061                 Indianapolis, IN     41
1741                    Palo Alto, CA     41
1669                      Oakland, CA     40
1804                   Pittsburgh, PA     39
2397     Washington DC-Baltimore Area     39
2241                        Tampa, FL     38
1914                     Richmond, VA     38
119   Austin, Texas Metropolitan Area     37
1874                      Raleigh, NC     37
1294                   Long Beach, CA     36
2223                    Sunnyvale, CA     36
402                    Cincinnati, OH     36
1337                      Madison, WI     36

In [26]:
df_more_than_50_off = df1.loc[(df1['Co_Nm']>50)&(df1['Co_Nm']<800)]

In [27]:
locations = df_more_than_50_off['loc'].tolist()

In [28]:
len(locations)

28

In [38]:
df_med_sal = df_tmp1.loc[df_tmp1['loc'].isin(locations)]

In [45]:
df_med_sal[['loc','med_sal','py_prd']].head()

               loc   med_sal   py_prd
42     Houston, TX   24960.0   HOURLY
52      Irvine, CA   46800.0   HOURLY
53  Sacramento, CA  166992.0  MONTHLY
54     Houston, TX  110000.0   YEARLY
60    New York, NY  162841.5   YEARLY

In [43]:
df_med_sal = df_med_sal.loc[df_med_sal['py_prd']!='ONCE']

In [46]:
df_med_sal['med_sal_yearly'] = df_med_sal.apply(
    lambda row: row['med_sal']*2080 if row['py_prd']=='HOURLY' else row['med_sal']*52 if row['py_prd']=='WEEKLY' else row['med_sal']*12 if row['py_prd']=='MONTHLY' else row['med_sal'], axis=1
                                        )